doctype html
html
    head
        link(href='https://s3.amazonaws.com/codecademy-content/projects/bootstrap.min.css', rel='stylesheet')
        link(href='css/main.css', rel='stylesheet')
    body
        .header
            .container-fluid
                h1.pull-left NearMe
        .main
            #map-canvas.container-fluid
        // Modules
        // Controllers
        // Directives
        // Services
