a.button.back(href="#/books/{{ currentBook }}") Back
.chapter
    p
        span.title
        span.author
    h2.chapter-title
    //
        TODO: Loop through chapter.paragraphs and display each one with this HTML
        <p>{{ paragraph }}</p>
    a.button.next(href="#/books/{{ currentBookIndex }}/chapters/{{ nextChapterIndex }}") Next

