doctype html
html
    head
        link(href='https://s3.amazonaws.com/codecademy-content/projects/bootstrap.min.css', rel='stylesheet')
        link(href='css/main.css', rel='stylesheet')
        link(href='css/leaflet.css', rel='stylesheet')
        script(src='js/vendor/angular.min.js')
        script(src='js/vendor/angular-route.min.js')
        script(src='js/vendor/leaflet.js')
        script(src='js/vendor/angular-leaflet-directive.min.js')
        script(src='js/vendor/helpers.js')
    body(ng-app='NearMeApp')
        .header
            .container-fluid
                h1.pull-left NearMe
                a.pull-right(href='#/about') About
        div(ng-view)
        // Modules
        script(src='js/app.js')
        // Controllers
        script(src='js/controllers/MainController.js')
        script(src='js/controllers/AboutController.js')
        // Directives
        // Services
        script(src='js/services/places.js')
